.navbarLogoLink {
  margin-right: auto;
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #cccccc;
  padding: 0 20px;
  height: 100px;
}
.nav {
  padding: 10px 10px;
}
.navbarLogoDiv {
  display: flex;
  align-items: center;
}
.appLogo {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.logoText {
  font-size: 22px;
  color: #233e0c;
}
.navbarList {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  font-weight: 700;
}
.navLinks {
  text-decoration: none;
  margin-left: 15px;
  color: #555555;
}
.navLinks:hover {
  font-size: 23px;
  transition: all 0.3s;
  border-bottom: 2px solid #000;
}
.navbarLists {
  list-style: none;
}
.menu {
  width: 35px !important;
  height: 35px !important;
  color: #ffffff !important;
  cursor: pointer;
  display: none !important;
}
@media screen and (max-width: 480px) {
  .navbarList{
    display: none;
  }
  .navLinks {
    margin-top: 10px;
  }
  .menu {
    display: block !important;
  }
}
