.navbarLogoLink {
  margin-right: auto;
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #cccccc;
  padding: 0 20px;
  height: 100px;
}
.nav {
  padding: 10px 10px;
}
.navbarLogoDiv {
  display: flex;
  align-items: center;
}
.appLogo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.logoText {
  font-size: 24px;
  color: #233e0c;
}
.navbarList {
  display: flex;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  font-weight: 700;
}
.navLinks {
  text-decoration: none;
  margin-left: 15px;
  color: #555555;
}
.navLinks:hover {
  font-size: 21px;
}
.navbarLists {
  list-style: none;
}
.navbarList2 {
  display: none;
}
.menu {
  width: 35px !important;
  height: 35px !important;
  color: #ffffff !important;
  cursor: pointer;
  display: none !important;
}
@media screen and (max-width: 700px) {
  .navbarList {
    display: none;
  }
  .navbarList2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 60px;
    font-weight: 700;
    margin-top: 270px;
    background-color: #f7f7f7;
    padding: 15px 40px 80px 10px;
    border-radius: 4px;
  }
  .navLinks {
    margin-top: 10px;
  }
  .menu {
    display: block !important;
  }
}
