.navbarWrapper{
  height: 85px;
  position: sticky;
  left: 0;
  top: 0;
  padding: 30px 20px;
  background-color: #f2f2f2;
}
.navbarLogoLink {
  margin-right: auto;
  text-decoration: none;
}
.navbar {
  display: flex;
  align-items: center;
}
.nav {
  padding: 10px 10px;
}
.navbarLogoDiv {
  display: flex;
  align-items: center;
}
.appLogo {
  width: 35px;
  height: 35px;
  margin-right: 3px;
}
.logoText {
  font-size: 22px;
  color: #790dcc;
}
.navbarList {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
}
.navLinks {
  text-decoration: none;
  margin-left: 25px;
  color: #790dcc;
}
.navLinks:hover {
  font-size: 21px;
  transition: all 0.3s;
}
.navbarLists {
  list-style: none;
}
.menu {
  width: 35px !important;
  height: 35px !important;
  color: #790dcc !important;
  cursor: pointer;
  display: none !important;
}
@media screen and (max-width: 480px) {
  .navbarList{
    display: none;
  }
  .navLinks {
    margin-top: 10px;
  }
  .menu {
    display: block !important;
  }
}
