.homeWrapper{
  padding: 50px 0;
}
.homeFlex {
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeNote-div{
  max-width: 40vw;
  text-align: center;
}
.homeNoteTitle {
  font-size: 24px;
  margin: 20px 0;
  color: #5d5d5d;
}
.homeNoteDetails {
  font-size: 20px;
  color: #888888;
}
.homeNote-copyright{
  font-weight: 700;
  margin-top: 30px;
  color: #5a2285;
  font-size: 24px;
}
.homeNote-img{
  height: 70vh;
  width: 30vw;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .homeNote-img{
    height: 60vh;
  }
}
@media screen and (max-width: 768px) {
  .homeFlex {
    flex-direction: column-reverse;
  }
  .homeNote-img{
    width: 50vw;
  }
  .homeNote-div{
    max-width: 50vw;
  }
  .homeNote-copyright{
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  .homeNote-img{
    width: 70vw;
  }
  .homeNote-div{
    max-width: 70vw;
  }
  .homeNoteTitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .homeNote-img{
    width: 90vw;
  }
  .homeNote-div{
    max-width: 90vw;
  }
}