.homeWrapper{
  padding: 30px 40px;
  max-width: 95%;
}
.homeNoteDetails{
  max-width: 50%;
}
.homeFlex {
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homeNoteTitle {
  font-size: 32px;
  margin: 20px 0;
  color: #555555;
}
.homeNoteDetails {
  font-size: 24px;
  color: #555555;
}
.homeCircle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 4px 8px 9px #ccc;
  background-color: #212121;
  position: relative;
}
.homeCircle-quick_note{
  color: #ccc;
  position: absolute;
  margin-top: 80px;
  margin-left: 60px;
}
.homeCircle-click_me{
  position: absolute;
  margin-top: 120px;
  margin-left: 75px;
  color: #f3f3f3;
  animation: homeCircle-click_me 0.5s infinite ;
}
@keyframes homeCircle-click_me {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: initial;
  }
}
.homeCircle-link{
text-decoration: none;
}
.homeNote-copyright{
  font-weight: 700;
  margin-top: 30px;
  font-style: 32px !important;
  color: #1f21a4;
}