.noteWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.noteSearchForm input{
    width: 310px;
    height: 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #d7d7d7;
    text-align: center;
    margin-top: 30px;
}
.noteGrid{
    display: grid;
    grid-template-columns: 2fr 2fr; 
}
.noteDiv {
  background-color: #f7f7f7;
  width: 310px;
  margin: 20px 20px;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 7px;
  box-shadow: 2px 4px 6px #cccccc;
}
.noteTitleDeleteDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 7px;
  margin-bottom: 5px;
}
.noteTitle {
  color: #233e0c;
  font-weight: 700;
  list-style: none;
  font-size: 20px;
}
.deleteIcon {
  color: #111;
}
.deleteIcon:hover {
    font-size: 32px;
    color: rgb(160, 27, 27) !important;
    transition: all 0.3s;
  cursor: pointer;
  }
.noteText {
  list-style: none;
  color: #555555;
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  .noteWrapper {
    grid-template-columns: 1fr;
  }
  .noteDiv {
    background-color: #f7f7f7;
    width: 80%;
  }
}
